---
title: Windows에 카크로치디비 설치
summary: Install CockroachDB on Mac, Linux, or Windows. Sign up for product release notes.
tags: download, binary, homebrew
toc: true
key: install-cockroachdb.html
---

<div id="os-tabs" class="clearfix">
    <a href="install-cockroachdb-mac.html"><button id="mac" data-eventcategory="buttonClick-doc-os" data-eventaction="mac">Mac</button></a>
    <a href="install-cockroachdb-linux.html"><button id="linux" data-eventcategory="buttonClick-doc-os" data-eventaction="linux">리눅스</button></a>
    <button id="windows" class="current" data-eventcategory="buttonClick-doc-os" data-eventaction="windows">Windows</button>
</div>

<p>마지막 릴리즈, {{ page.release_info.version }} 에 추가된 내용을 알고 싶으면 <a href="../releases/{{page.release_info.version}}.html" class="mac-releasenotes-download" id="mac-releasenotes-download-{{page.version.version}}" data-eventcategory="mac-releasenotes-download">릴리즈 노트</a>를 보십시오. 오래된 버전에서 이 릴리즈로 업그레이드하려면 <a href="upgrade-cockroach-version.html">클러스터 업그레이드</a>를 보십시오.</p>

<div id="download-the-binary-windows" class="install-option">
  <h2>실행파일 다운로드</h2>

  {{site.data.alerts.callout_danger}}Windows용 카크로치디비 실행파일은 실험적이며 프로덕션 환경에 적합하지 않습니다. Windows 8 이상이 필요합니다.{{site.data.alerts.end}}

  <ol>
    <li>
      <p>Windows용 <a href="https://binaries.cockroachdb.com/cockroach-{{ page.release_info.version }}.windows-6.2-amd64.zip" class="windows-binary-download" id="windows-binary-download-{{page.version.version}}" data-eventcategory="windows-binary-download">카크로치디비 {{ page.release_info.version }} 아카이브</a>를 다운로드받고, 압축을 푸십시오.</p>
    </li>
    <li>
      <p>PowerShell을 열어, 실행파일이 있는 경로로 이동한 후, 동작을 확인하십시오:</p>

      <div class="copy-clipboard">
        <div class="copy-clipboard__text windows-binary-button" id="windows-binary-button-{{ page.version.version }}" data-eventcategory="windows-binary-button">copy</div>
        <svg data-eventcategory="windows-binary-button" id="copy-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><style>.st0{fill:#A2A2A2;}</style><title>icon/buttons/copy</title><g id="Mask"><path id="path-1_1_" class="st0" d="M4.9 4.9v6h6v-6h-6zM3.8 3.8H12V12H3.8V3.8zM2.7 7.1v1.1H.1S0 5.5 0 0h8.2v2.7H7.1V1.1h-6v6h1.6z"/></g></svg>
        <svg id="copy-check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 10"><style>.st1{fill:#54B30E;}</style><path id="path-1_2_" class="st1" d="M3.8 9.1c-.3 0-.5-.1-.6-.2L.3 6C0 5.7-.1 5.2.2 4.8c.3-.4.9-.4 1.3-.1L3.8 7 10.6.2c.3-.3.9-.4 1.2 0 .3.3.3.9 0 1.2L4.4 8.9c-.2.1-.4.2-.6.2z"/></svg>
      </div>
      <div class="highlight"><pre class="highlight"><code><span class="nb">PS </span>C:\cockroach-{{ page.release_info.version }}.windows-6.2-amd64> .\cockroach.exe version</code></pre></div>
    </li>
    <li>
      <p>카크로치디비 릴리즈와 모범사례를 최신으로 유지하십시오:</p>
      <div class="hubspot-install-form install-form-8 clearfix">
        <script>
          hbspt.forms.create({
            css: '',
            cssClass: 'install-form',
            portalId: '1753393',
            formId: '39686297-81d2-45e7-a73f-55a596a8d5ff',
            formInstanceId: 8,
            target: '.install-form-8'
          });
        </script>
      </div>
    </li>
  </ol>
</div>

<div id="use-kubernetes" class="install-option">
  <h2>쿠버네티스 사용하기</h2>

  <p>설정 파일 또는 <a href="https://helm.sh/">헬름</a> 패키지 매니저를 통해 <a href="https://kubernetes.io/">쿠버네티스</a>로 카크로치디비를 오케스트레이션하려면, <a href="orchestrate-a-local-cluster-with-kubernetes.html">미니쿠베를 이용한 카크로치디비 로컬 오케스트레이션</a>을 확인하십시오.</p>
</div>

<div id="use-docker-windows" class="install-option">
  <h2>Use Docker</h2>

  {{site.data.alerts.callout_danger}} 카크로치디비와 같은 스테이트풀 애플리케이션을 도커에서 사용하는 것은 일반적인 도커 사용보다 더 복잡하고 오류가 발생하기 쉽습니다. 도커에 매우 숙련되어 있지 않다면, 다른 설치 및 배포 방법으로 시작하시는 것을 권고드립니다.{{site.data.alerts.end}}

  <ol>
    <li>
      <p><a href="https://docs.docker.com/docker-for-windows/install/">도커 for Windows</a>를 설치하십시오.</p>
      <div class="bs-callout bs-callout-info">도커 for Windows는 64비트 Windows 10 Pro와 Hyper-V를 필요로 합니다. <a href="https://docs.docker.com/docker-for-windows/install/#what-to-know-before-you-install">공식 문서</a>를 통해 세부내용을 더 확인할 수 있습니다. 시스템이 요구사항을 만족하지 않는다면, <a href="https://docs.docker.com/toolbox/overview/">도커 툴박스</a> 를 이용할 수 있습니다.</div>
    </li>
    <li>
      <p>PowerShell을 열어 도커 데몬이 백그라운드에서 동작하는 것을 확인하십시오:</p>

      <div class="language-powershell highlighter-rouge"><pre class="highlight"><code><span class="nb">PS </span>C:\Users\username&gt; docker version</code></pre></div>

      <p>서버 목록을 확인할 수 없다면, <strong>도커 for Windows</strong>를 실행하십시오.</p>
    </li>
    <li>
      <p><a href="https://docs.docker.com/docker-for-windows/#/shared-drives">로컬 드라이브를 공유하십시오</a>. 이렇게 하면 컨테이너를 중지하거나 삭제한 후에 로컬 디렉토리를 데이터 볼륨으로 마운트하여 데이터를 유지할 수 있습니다.</p>
    </li>
    <li>
      <p>카크로치디비 {{page.release_info.version}} 릴리즈를 <a href="https://hub.docker.com/r/{{page.release_info.docker_image}}/" class="win-docker-step3" id="win-docker-step3-{{page.version.version}}" data-eventcategory="win-docker-step3">도커 허브</a>에서 다운로드 받으십시오:</p>

      <div class="copy-clipboard">
        <div class="copy-clipboard__text windows-docker-button" id="windows-docker-button-{{ page.version.version }}" data-eventcategory="windows-docker-button">copy</div>
        <svg data-eventcategory="windows-docker-button" id="copy-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><style>.st0{fill:#A2A2A2;}</style><title>icon/buttons/copy</title><g id="Mask"><path id="path-1_1_" class="st0" d="M4.9 4.9v6h6v-6h-6zM3.8 3.8H12V12H3.8V3.8zM2.7 7.1v1.1H.1S0 5.5 0 0h8.2v2.7H7.1V1.1h-6v6h1.6z"/></g></svg>
        <svg id="copy-check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 10"><style>.st1{fill:#54B30E;}</style><path id="path-1_2_" class="st1" d="M3.8 9.1c-.3 0-.5-.1-.6-.2L.3 6C0 5.7-.1 5.2.2 4.8c.3-.4.9-.4 1.3-.1L3.8 7 10.6.2c.3-.3.9-.4 1.2 0 .3.3.3.9 0 1.2L4.4 8.9c-.2.1-.4.2-.6.2z"/></svg>
      </div>
      <div class="highlight"><pre class="highlight"><code data-eventcategory="win-docker-step3"><span class="nb win-docker-step3" id="win-docker-step3-{{ page.version.version }}" data-eventcategory="win-docker-step3">PS </span>C:\Users\username&gt; docker pull {{page.release_info.docker_image}}:{{page.release_info.version}}</code></pre></div>
    </li>
    <li>
      <p>카크로치디비 릴리즈와 모범사례를 최신으로 유지하십시오:</p>
      <div class="hubspot-install-form install-form-9 clearfix">
        <script>
          hbspt.forms.create({
            css: '',
            cssClass: 'install-form',
            portalId: '1753393',
            formId: '39686297-81d2-45e7-a73f-55a596a8d5ff',
            formInstanceId: 9,
            target: '.install-form-9'
          });
        </script>
      </div>
    </li>
  </ol>
</div>

<h2 id="whats-next">무엇을 더 알아볼까요?</h2>

{% include {{ page.version.version }}/misc/install-next-steps.html %}

{% include {{ page.version.version }}/misc/diagnostics-callout.html %}
